<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node com mysql e express</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container mt-5">
    <% if (messages.sucess) { %>
    <p class="alert alert-sucess mb-3">
      <%- messages.sucess %>
    </p>  
    <%} %>
    <form action="user_form" method="POST">
     <div class="mb-2">
      <input 
        type="text
        class="form-control"
        id="name"
        placeholder="Nome"
        name="name"
        required
      />
     </div>

     <div class="mb-2">
      <input 
        type="email
        class="form-control"
        id="email"
        placeholder="email"
        name="email"
        required
      />
     </div>
     <div class="mb-2">
       <textarea name="message" class="form-control" placeholder="mensagem"></textarea>
     </div>
     <button type="submit" class="btn btn-dark" >Armazenar</button>
    </form>
  </div>
</body>

</html>